@import url("https://fonts.googleapis.com/css?family=Oswald");

:root {
  --light-gray: #f1f3f8;
  --dark-gray: #8d93ab;
  --black: #393b44;

}

html {
  box-sizing: border-box;
  }

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: var(--light-gray);
  overflow: hidden;
}


nav {
  position: relative;
  perspective: 60rem;
  margin: 0 10rem;
}

.animated-dropdown > li > a {
  max-width: 15vw;
  min-width: 5vw;
  max-height: 5vh;
  color: var(--black);
  text-decoration: none;
  font-size: 1em;
  background: #8d93ab50;
  padding: 0.5rem 1rem;
  display: flex;
  margin: 1rem;
  border-radius: 2px;
  z-index: -1;
  justify-content: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.animated-dropdown > li {
  position: relative;
  display: flex;
  justify-content: center;
}

.dropdown {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  padding: 20px;
  top: -20px;
  border-radius: 2px;
  transition: all 0.5s;
  transform: translateY(100px);
  will-change: opacity;
  display: none;
}

.trigger-enter .dropdown {
  display: block;
}

.trigger-enter-active .dropdown {
  opacity: 1;
}

.dropdownBackground {
  width: 100px;
  height: 100px;
  position: absolute;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
  transition: all 0.3s, opacity 0.1s, transform 0.2s;
  transform-origin: 50% 0;
  display: flex;
  justify-content: center;
  opacity:0;
}

.dropdownBackground.open {
  opacity: 1;
}

.arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  transform: translateY(-50%) rotate(45deg);
}

.about {
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.7;
  color: var(--black);
}

.about img {
  float: left;
  margin-right: 20px;
}

.list {
  min-width: 300px;
}

.list li {
  padding: 10px 0;
  display: block;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  font-size: .9em;
}

.dropdown a {
  text-decoration: none;
  color: var(--dark-gray);
}

a.button {
  background: #092532;
  display: block;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
  font-size: .9em;
}

a.projects {
 width: 16rem;
}

canvas {
  filter: blur(1px);
  position: relative;
  z-index: -1;
}
